@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.2);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1929;
    color: white;
}

.alert {
    position: fixed;
    top: -20vh;
    padding: 20px;
    transition: 0.5s;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.2);
}

.alert:hover {
    transform: scale(1.05);
}

.alert img {
    margin-right: 10px;
    width: 20px;
}

.card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.show {
    position: fixed;
    top: 20px;
}

.error {
    background-color: #d32f2f;
}

.warning {
    background-color: #f57c00;
}

.info {
    background-color: #0288d1;
}

.success {
    background-color: #388e3c;
}

.error-btn {
    border: 3px solid #d32f2f;
}

.warning-btn {
    border: 3px solid #f57c00;
}

.info-btn {
    border: 3px solid #0288d1;
}

.success-btn {
    border: 3px solid #388e3c;
}